# Worksheet 4

This worksheet is due Monday night of Week 3.  You are encouraged to work in groups of up to 3 total students, but each student should submit their own file.  (It's fine for everyone in the group to upload the same file.)

These questions refer to the attached vending machines csv file, `vend.csv`.

## Goal

The goal of this worksheet is to make a 8-by-3 pandas DataFrame.  The columns for this DataFrame will be named "Month", "transactions" and "total price".  The entries will correspond to the number of transactions in that month, as well as the combined price for all those transactions.

* Load the attached `vend.csv` dataset using `pd.read_csv`, and store it with the variable name `df`.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("vend.csv")

* Look at the first few rows of `df` using the `head` method.

In [3]:
df.head()

,Status,Device ID,Location,Machine,Product,Category,Transaction,TransDate,Type,RCoil,RPrice,RQty,MCoil,MPrice,MQty,LineTotal,TransTotal,Prcd Date
0,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14515778905,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022
1,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516018629,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,5.0,1/1/2022
2,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516018629,"Saturday, January 1, 2022",Credit,123,1.5,1,123,1.5,1,1.5,5.0,1/1/2022
3,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516020373,"Saturday, January 1, 2022",Credit,123,1.5,1,123,1.5,1,1.5,1.5,1/1/2022
4,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516021756,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022

* Which of the columns contains date-like values?  Convert this column to actual date values (i.e., values that are recognized as dates by pandas) using the pandas function `to_datetime`.  (You shouldn't need to use a for loop or anything like that, just use the entire column as an input to the pandas `to_datetime` function.)  Save the resulting pandas Series as a new column in `df`, named `"Date"`.

In [4]:
df["Date"] = pd.to_datetime(df["TransDate"])
df.head()

,Status,Device ID,Location,Machine,Product,Category,Transaction,TransDate,Type,RCoil,RPrice,RQty,MCoil,MPrice,MQty,LineTotal,TransTotal,Prcd Date,Date
0,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14515778905,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022,2022-01-01
1,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516018629,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,5.0,1/1/2022,2022-01-01
2,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516018629,"Saturday, January 1, 2022",Credit,123,1.5,1,123,1.5,1,1.5,5.0,1/1/2022,2022-01-01
3,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Takis - Hot Chilli Pepper & Lime,Food,14516020373,"Saturday, January 1, 2022",Credit,123,1.5,1,123,1.5,1,1.5,1.5,1/1/2022,2022-01-01
4,Processed,VJ300320611,Brunswick Sq Mall,BSQ Mall x1366 - ATT,Red Bull - Energy Drink - Sugar Free,Carbonated,14516021756,"Saturday, January 1, 2022",Credit,148,3.5,1,148,3.5,1,3.5,3.5,1/1/2022,2022-01-01

* Get the corresponding month name for each date, by using the `dt` accessor and the method `month_name` on the new "Date" column.  Save this as a new column in `df`, named `"Month"`.

In [6]:
df["Month"] = df["Date"].dt.month_name()

* Write a function `month_count` which takes as input a month name like "March" and as output returns how many transactions occurred in this month (use Boolean indexing... there are other ways, but we'll use a similar approach below to get the total pr).

For example, the output for "March" should be `633`.

In [9]:
def month_count(mt):
    df_sub = df[df["Month"] == mt]
    return len(df_sub)

In [10]:
month_count("March")

633

* Write a function `total_price` which takes as input a month name like "March" and as output returns the sum of the "RPrice" value for all transactions occuring in that month.

For example, the output for "March" should be `1117.75`.

In [13]:
def total_price(mt):
    return sum(df[df["Month"]==mt]["RPrice"])

In [14]:
total_price("March")

1117.75

* Make an empty DataFrame, that will eventually be the submission for this worksheet.  Use `pd.DataFrame()`, nothing inside the parentheses.  Name this empty DataFrame `df_out`.

In [15]:
df_out = pd.DataFrame()

* Put a "Month" column in `df_out` containing the months from `df`, each listed one time.  (Use `df["Month"].unique()` to get each value one time.)

In [16]:
df_out["Month"] = df["Month"].unique()

In [17]:
df_out

      Month
0   January
1  February
2     March
3     April
4       May
5      June
6      July
7    August

* Apply the `month_count` function to each value in `df_out["Month"]` by calling `df_out["Month"].map(month_count)`.  Store the result as a new column in `df_out` named `"transactions"`.

In [18]:
df_out["transaction"] = df_out["Month"].map(month_count)

In [19]:
df_out

      Month  transaction
0   January          482
1  February          492
2     March          633
3     April          866
4       May          854
5      June          999
6      July         1121
7    August          998

* Using the same strategy, make a column named `"total price"` in `df_out`, obtained by applying the `total_price` function to each entry in the `"Month"` column of `df_out`.

In [20]:
df_out["total price"] = df_out["Month"].map(total_price)

In [21]:
df_out

      Month  transaction  total price
0   January          482       868.50
1  February          492       889.00
2     March          633      1117.75
3     April          866      1613.00
4       May          854      1645.50
5      June          999      2005.50
6      July         1121      2251.75
7    August          998      2027.25

* The resulting DataFrame `df_out` should have 8 rows and 3 columns.  Save it to a file named `df_out.csv` using the pandas DataFrame method `to_csv`.  (You need to give the desired file name as the first argument to the `to_csv` method.)  Specify the keyword argument `index=False` so that the numbers `0` through `7` from the index are not stored.

In [22]:
df_out.to_csv("df_out.csv",index=False)

* Submit this csv file on Canvas.

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=5151e11b-039b-4089-9112-8d401e42c064' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>